{% extends "page.html" %}

{% block subtitle %}Aplicaciones{% endblock %}

{% block breadcrumb_content %}
<a class=" active" href="/aplicaciones">Ejemplo de aplicaciones que utilizan nuestros datos</a>
{% endblock %}


{% block primary %}
<article class="mlg-module-content-app">
	<a href="/contact/form.html">
	<img src="images/home-slider/aplicaciones.png" alt="Háznos llegar tus aplicaciones" onmouseout="javascript:this.src='/images/home-slider/aplicaciones.png';" onmouseover="javascript:this.src='images/home-slider/aplicacioneson.png';" onmouseup="javascript:this.src='images/home-slider/aplicaciones.png';" onmousedown="javascript:this.src='images/home-slider/aplicacioneson.png';">
	</a>    
<div class="mlg-lista-aplicaciones">
    <div class="mlg-site-aplicaciones"> 
	{% snippet 'home/snippets/aplicaciones/barrios_malaga.html' %}
	{% snippet 'home/snippets/aplicaciones/here.html' %}
	{% snippet 'home/snippets/aplicaciones/malaga_bici.html' %}
	{% snippet 'home/snippets/aplicaciones/malaga_citysense.html' %}
	{% snippet 'home/snippets/aplicaciones/moovit.html' %}
	{% snippet 'home/snippets/aplicaciones/seetys_transporte.html' %}

    </div>
</div>
  </article>
{% endblock %}
{% block secondary %}

{% endblock %}

