{% extends "page.html" %}

{% block subtitle %}Disponibilidad del servicio{% endblock %}

{% block breadcrumb_content %}
  <li class="active"> <li class="active"><a class=" active" href="/disponibilidad">Disponibilidad</a></li></li>
{% endblock %}

{% block primary %}
  <article class="module">
    <div class="mlg-module-content">
      {% block saber %}
        <h1 class="page-heading">Disponibilidad del servicio</h1>
        {% include "/home/snippets/dispon_text.html" %}
      {% endblock %}
    </div>
  </article>
{% endblock %}

{% block secondary %}{% endblock %}
