<footer class="site-footer malaga-site-footer">
  <div class="container">
    
      <nav class="footer-links">
        
  
          <ul class="unstyled">
            
  <li><a href="{{ g.site_url }}/saber">Saber más de datos abiertos</a></li>
  <li><a href="{{ g.site_url }}/soporte">Soporte Técnico</a></li>
  <li><a href="{{ g.site_url }}/disponibilidad">Disponibilidad</a></li>
          </ul>
          <ul class="unstyled">
       	      <li ><a href="http://www.malaga.eu/portal/menu/varios/politicaPrivacidad" target="_blank">Política de privacidad</a></li>
	      <li ><a href="http://www.malaga.eu/portal/menu/varios/avisoLegal" target="_blank">Aviso legal</a></li>
          </ul>
      </nav>
      <div class="attribution">
          <p><strong>Gestionado con </strong> <a class="hide-text ckan-footer-logo" href="http://ckan.org">CKAN</a></p>
      </div>
  </div>

</footer>
