{% extends "page.html" %}

{% block subtitle %}Saber m&aacute;s{% endblock %}

{% block breadcrumb_content %}
  <li class="active"> <li class="active"><a class=" active" href="/saber">Saber m&aacute;s</a></li></li>
{% endblock %}

{% block primary %}
  <article class="module">
    <div class="module-content">
      {% block saber %}
        <h1 class="page-heading">¿Qué son datos abiertos?</h1>
        {% include "/home/snippets/saber_text.html" %}
      {% endblock %}
    </div>
  </article>
{% endblock %}

{% block secondary %}{% endblock %}
