<h4>¿ Qué es datosabiertos.malaga.eu ?</h4>
El Ayuntamiento de Málaga da a conocer datos públicos en este portal web, para que los ciudadanos conozcan el trabajo del gobierno de la ciudad.
<br>
Algunos de estos datos ya pueden estar disponibles en otros portales, pero en <a href="http://datosabiertos.malaga.eu">datosabiertos.malaga.eu</a> los recopilamos para poder localizarlos más fácilmente.
<br>
Los datos están disponibles en  formatos de intercambio accesibles, utilizables por los ciudadanos, lo que les permiten tratar informaciones a partir de las cuales se pueden  realizar sugerencias sobre las políticas del gobierno aplicadas en las diferentes áreas municipales.
<h4>¿ Qué datos están disponibles ?</h4>
<a href="http://datosabiertos.malaga.eu">datosabiertos.malaga.eu</a> ofrece actualmente alrededor de 60 conjuntos de datos sobre el Ayuntamiento de Málaga.
<br>
Con esta información se pueden desarrollar aplicaciones útiles para la sociedad o trabajos que permitan realizar labores de  investigación  sobre la evolución de la ciudad lo largo de los años.
<p>
<h4>¿ Cómo se pueden usar los datos ?</h4>
Los datos se pueden usar de todos los modos posibles. Se puede usar simplemente para ver las tendencias de una política de área o para comparar el trabajo de distintas secciones del gobierno. Incluso pueden crearse aplicaciones útiles con los datos, que pueden ser usados por todos.
<br>
<h4>¿ Quiénes están involucrados en el proyecto?</h4>
<a href="http://datosabiertos.malaga.eu">datosabiertos.malaga.eu</a> es parte de la política de transparencia que se está llevando a cabo en el Ayuntamiento de Málaga.
<p><p><p><p>
<a href="detallestecnicos">detalles técnicos</a>

