<div class="mlg-carrusel-tag" style="background-image:url(/images/home-slider/etiquetaspopulares.png)">
	
  		<a href="/dataset?tags=medio+ambiente"><b>268</b> medio ambiente </a>

  		<a href="/dataset?tags=energ%C3%ADa"><b>255</b> energía </a>

  		<a href="/dataset?tags=fotovoltaica"><b>189</b> fotovoltaica </a>

  		<a href="/dataset?tags=geoportal"><b>97</b> geoportal </a>

  		<a href="/dataset?tags=cartograf%C3%ADa"><b>92</b> cartografía </a>

  		<a href="/dataset?tags=plano"><b>83</b> plano </a>

</div>

