<div class="mlg-carrusel-tag" style="background-image:url(/images/home-slider/etiquetaspopulares.png)">
	
  		<a href="/dataset?tags=medio+ambiente"><b>196</b> medio ambiente </a>

  		<a href="/dataset?tags=energ%C3%ADa"><b>189</b> energía </a>

  		<a href="/dataset?tags=fotovoltaica"><b>188</b> fotovoltaica </a>

  		<a href="/dataset?tags=agenda+21"><b>82</b> agenda 21 </a>

  		<a href="/dataset?tags=plano"><b>76</b> plano </a>

  		<a href="/dataset?tags=callejero"><b>69</b> callejero </a>

</div>

