<p>
<a href="http://datosabiertos.malaga.eu">datosabiertos.malaga.eu</a> se ejecuta sobre una herramienta de código abierto llamada <a href="http://ckan.org" target="_blank">CKAN</a> (Comprehensive Knowledge Archive Network)
que es una plataforma de catálogo de datos, líder a nivel mundial. CKAN ha sido diseñada por la <a href="http://okfn.org/" target="_blank"> Open Knowledge Foundation (OKF) </a>
<p>
Todo el código de CKAN está disponible en <a href="https://github.com/okfn" target="_blank">github.com/okfn</a> bajo licencia de código abierto.
<p>
CKAN es una solución completa de software lista para utilizar que hace los datos accesibles y utilizables al proveer 
herramientas para publicar, compartir, encontrar y usar los datos (incluyendo almacenamiento de datos y provisión de APIs 
de datos robustas). 
<p>
CKAN está orientada a proveedores de datos (gobiernos nacionales y regionales, compañías y organizaciones) 
que desean hacer sus datos abiertos y disponibles.
<p>
CKAN es utilizada por gobiernos y grupos de usuarios a nivel mundial y gestiona una variedad de portales de datos oficiales y 
comunitarios, incluyendo portales para gobiernos locales, nacionales e internacionales tales como data.gov.uk de Reino Unido, 
publicdata.eu de la Unión Europea; dados.gov.br de Brasil; además portales de los gobiernos de Dinamarca y Holanda, así como 
también sitios de ciudades en Estados Unidos, Reino Unido, Argentina, Finlandia y en otros lugares.
<p>
<a href="http://datosabiertos.malaga.eu">datosabiertos.malaga.eu</a> ha usado los siguientes módulos y extensiones de CKAN:
<p>
<ul>
<li>CKAN versión 2 (con modificaciones menores).</li>
<li>CKAN Archiver extension</li>
<li>CKAN Data Preview extension</li>
<li>CKAN Datastore extension</li>
<li>CKAN Harvest extension</li>
</ul>
