{% set stats = h.get_site_statistics() %}
<div class="mlg-carrusel-stat" style="background-image:url(/images/home-slider/estadistica.png)">
<a href="{{ h.url_for(controller='package', action='search') }}">
  <b>{{ h.SI_number_span(stats.dataset_count) }}</b>
  {{ _('dataset') if stats.dataset_count == 1 else _('datasets') }}
</a>
<a href="{{ h.url_for(controller='package', action='search') }}">
  <b>{{h.mlg_count_resources()}}</b>
  Recursos
</a>
<a href="{{ h.url_for(controller='organization', action='index') }}">
  <b>{{ h.SI_number_span(stats.organization_count) }}</b>
  {{ _('organization') if stats.organization_count == 1 else _('organizations') }}
</a>
<a href="{{ h.url_for(controller='group', action='index') }}">
  <b>{{ h.SI_number_span(stats.group_count) }}</b>
  {{ _('group') if stats.group_count == 1 else _('groups') }}
</a>
<a href="{{ h.url_for(controller='related', action='dashboard') }}">
  <b>{{ h.SI_number_span(stats.related_count) }}</b>
  {{ _('related item') if stats.related_count == 1 else _('related items') }}
</a>
</div>
