<!-- Snippet home/snippets/nost_downloaded_block.html start-->
<section class="group-list module module-narrow module-shallow">
  <div class="box">
    <header>
      <a href="/dataset?q=&sort=views_recent+desc"><img class="img-presentacion-banners" src="/images/banner_masdescargados.png"></a>
    </header>

    {% set list_class = "unstyled dataset-list" %}
    {% set item_class = "dataset-item module-content" %}
    {% snippet 'home/snippets/most_downloaded_list.html', datasets=datasets %} 
  </div>
</section>
<!-- Snippet home/snippets/nost_downloaded_block.html end-->

