<section class="group-list module module-narrow module-shallow">
  <div class="box">
    <header>
      <a href="http://twitter.com/#malagaopendata"><img class="img-presentacion-banners" src="/images/banner_participa.png"></a>
    </header>
    <div class="dataset-item module-content" align="justify">
      <p>El compromiso del Ayuntamiento de Málaga es el de ofrecer los conjuntos de datos que puedan ser de utilidad para nuestros ciudadanos. Puedes solicitar a través del correo electrónico <a href="mailto:datosabiertos@malaga.eu">datosabiertos@malaga.eu</a> los datos que te gustaría que el Ayuntamiento publicase.
      </p>
      <p>Debido a que la publicación tiene un coste asociado a la localización de los datos, compromiso de actualización y posibles aplicaciones de captura automática, sería muy interesante incluir una justificación de la utilidad que ese conjunto de datos puede suponer a la ciudad.  Además del correo electrónico, se podría solicitar los datos en twitter mediante el hashtag  <a href=http://twitter.com/#malagaopendata>#malagaopendata</a>.  Gracias por su participación 
      </p>
    </div>
  </div>
</section>
