Datos abiertos (Open data) es una filosofía y práctica que persigue que determinados datos estén disponibles de forma libre a todo el mundo, sin restricciones de copyright, patentes u otros mecanismos de control.

Esta filosofía es el pilar fundamental de Gobierno Abierto (Open Government) que sostiene que los temas de gobierno y administración pública deben ser abiertos a todos los niveles posibles en cuanto a transparencia, esto debe ir unido a la creación de espacios permanentes de participación ciudadana y colaboración ciudadana. La definición de cada aspecto se puede resumir de este modo:
<table cellpadding="5px">
	<tr>
		<td>
			<h3>Transparencia</h3>
			<img title="transparencia" src="/images/saber03.png"><p>
		</td>
		<td align="justify" ></br></br></br>
			Un Gobierno transparente fomenta y promueve la rendición de cuentas de la Administración ante la ciudadanía y proporciona información sobre lo que está realizando y sobre sus planes de actuación. El Ayuntamiento (y cualquier otra Administración) debería permitir el acceso a esta información pública de manera sencilla y clara, permitiendo de esta manera que los ciudadanos puedan realizar un control de la acción de gobierno, así como crear valor económico o social a partir de los datos públicos ofrecidos libremente por la Administración.
		</td>
	</tr>
	<tr>
		<td>
			<h3>Colaboración</h3>
			<img title="colaboración" src="/images/saber01.png"><p>
		</td>
		</td>
		<td align="justify" ></br></br></br>
			Un Gobierno colaborativo implica y compromete a los ciudadanos y demás agentes en el propio trabajo de la Administración. La colaboración supone la cooperación no sólo con la ciudadanía, sino también con las empresas, las asociaciones y demás agentes, y permite el trabajo conjunto dentro de la propia Administración entre sus empleados y con otras Administraciones.
		</td>
	</tr>
	<tr>
		<td>
			<h3>Participación</h3>
			<img title="participación" src="/images/saber02.png"><p>
		</td>
		<td align="justify" ></br></br></br>
			Un Gobierno participativo favorece el derecho de la ciudadanía a participar activamente en la conformación de políticas públicas y anima a la Administración a beneficiarse del conocimiento y experiencia de los ciudadanos. Por tanto, impulsa acciones y orienta actuaciones que aumentan el protagonismo e implicación de los ciudadanos en asuntos públicos y compromete con mayor intensidad a las fuerzas políticas con sus conciudadanos.
		</td>
	</tr>
</table>	
<h4>¿Cómo se publican los datos?</h4>
Como hemos dicho anteriormente, los datos abiertos son fuentes de datos que poseen las organizaciones, ya sean públicas o privadas.
Los datos abiertos se caracterizan por:
<ul>
<li>ser publicados sin procesado ni tratamiento previo, es lo que se llama "datos en bruto" y serán los ciudadanos o terceros los que le den forma,</li>
</ul>
<ul>
<li>ser accesibles siempre sin exigir permisos específicos,
</li>
</ul>
<ul>
<li>ser reutilizables, aunque los tipos de reutilización pueden estar controlados mediante una licencia,
</li>
</ul>
<ul>
<li>estar bien estructurados y</li>
</ul>
<ul>
<li>estar generados en formatos conocidos que faciliten la reutilización.</li>
</ul>
<h4>Enlaces de interés</h4>
<p>
Definición de datos abiertos en Wikipedia <a title="Datos abiertos - Wikipedoa" href="http://es.wikipedia.org/wiki/Datos_abiertos" target="_blank">http://es.wikipedia.org/wiki/Datos_abiertos</a>
</p>
<p>
Definición de gobierno abierto en Wikipedia <a title="Gobierno Abierto - Wikipedia" href="http://es.wikipedia.org/wiki/Gobierno_abierto" target="_blank">http://es.wikipedia.org/wiki/Gobierno_abierto</a>
</p>
<p>
Open Government Partnership <a title="Open Government Partnership" href="http://www.opengovpartnership.org/" target="_blank">http://www.opengovpartnership.org/</a>
</p>
</div>
          </div>
        <!-- /content -->
        <div id="sidebar"> 
          <!--<ul class="widget-list"> -->
          
          <primarysidebar><!-- Primary Side Bar Goes Here --></primarysidebar><!-- </ul> --></div>
    
    </div>
  </div>
