<!-- CUERPO -->
<div id="content" class="container">
          <div class="span4 malaga-soporte-tecnico">
              <a href="mailto:datosabiertos@malaga.eu?Subject=Incidencia en datos abiertos"><img src="/images/support/icon-warning.png" alt="buzón problemas técnicos" ></img></a><br>
              <h4>Buzón problemas técnicos</h4>              
              <p>
                Si usted ha detectado un problema técnico durante el normal funcionamiento
                del portal de datos abiertos, puede remitir el problema a nuestro <a href="mailto:datosabiertos@malaga.eu?Subject=Incidencia en datos abiertos">buzón de soporte</a>, describiendo el problema detectado.

              </p>
          </div>  

          <div class="span4 malaga-soporte-tecnico">
              <a href="http://saic.malaga.eu/portal/quejas-y-sugerencias" target="_blank"><img src="/images/support/icon-QyS.png" alt="Formulario de Quejas y/o Sugerencias"></img></a><br> 
              <h4>Quejas y/o Sugerencias</h4>   
              <p>
               Con el fin de mejorar la calidad del servicio prestado en el portal de datos abiertos, usted podrá formular cualquier queja y/o sugerencia que estime oportuna a través del <a href="http://saic.malaga.eu/portal/quejas-y-sugerencias" target="_blank" alt="Formulario de Quejas y/o Sugerencias">formulario</a> que el Servicio de Atención a la
               Ciudadanía (SAIC) del Ayuntamiento de Málaga pone a su disposición.          
              </p>
          </div>  

          <div class="span4 malaga-soporte-tecnico">
              <a href="http://saic.malaga.eu/portal/telefono-de-informacion-municipal-010" target="_blank">
              <img src="/images/support/icon-email.png" alt="Servicio de Atención a la Ciudadanía del Ayuntamiento de Málaga"></img></a><br> 
              <h4>Buzón del SAIC</h4>              
              <p>
                Para realizar cualquier consulta sobre los servicios municipales, el Servicio de Atención a la Ciudadanía del Ayuntamiento de Málaga, pone a su disposición el <a href="mailto:saic@malaga.eu?Subject=Carpeta Ciudadana">Buzón del SAIC</a>.
              </p>
          </div>  

          <div class="span4 malaga-soporte-tecnico">
              <a href="http://saic.malaga.eu/portal/telefono-de-informacion-municipal-010" target="_blank">
              <img src="/images/support/icon-telephone.png" alt="Teléfono de contacto de información municipal"></img></a><br> 
              <h4>Teléfono de contacto</h4>              
              <p>
                Para realizar cualquier consulta sobre los servicios municipales, el Servicio de Atención a la Ciudadanía del Ayuntamiento de Málaga, pone a su disposición el teléfono de contacto <span class="label label-info">010</span> o el teléfono 952 209 603 para llamadas realizadas fuera de la localidad de Málaga.
              </p>
          </div>  
  </div>
<!-- FIN CUERPO -->
