
<section class="group-list module module-narrow module-shallow">
  <div class="box">
    <header>
      <img class="img-presentacion-banners" src="/images/banner_estadisticas.png">
    </header>
    <div class="dataset-item module-content" align="justify">
		<table>
			<tr>
				<td><b><span>673</span></b></td>
				<td style="padding-left:10px"><a href="/dataset"> Conjuntos de datos</a></td>
			</tr>
			<tr>
				<td><b>759</b></td>
				<td style="padding-left:10px"><a href="/dataset"> Recursos</a></td>
			</tr>
			<tr>
				<td style="text-align:right"><b><span>9</span></b></a></td>
				<td style="padding-left:10px"><a href="/organization"> Organizaciones</a></td>
			</tr>
			<tr>
				<td style="text-align:right"><b><span>22</span></b></td>
				<td style="padding-left:10px"><a href="/group"> Grupos</a></td>
			</tr>
		</table>
      </p>
    </div>
  </div>
</section>
