{% set num_max_ds = 4 %}

{# para ordenar por los más recientes
{% set sec_title = 'Más recientes' %}
{% set order = '' %} 
#}

{# para ordenar por los populares (más descargados) #}
{% set sec_title = 'Más descargados' %}
{% set order = 'views_recent desc' %} 


{# para ordenar por los que tienen más relevancia
{% set sec_title = 'Más relevantes' %}
{% set order = 'score desc, metadata_modified desc' %} 
#}

<div role="main" class="malaga-hero-presentacion" style="min-height:inherit">

  <div class="container">
		{% include "/home/snippets/carrusel.html" %} 
  </div>
<!--
  <div class="container mlg-no-carrusel" style="background-color:#00577D;float:center">
		{% include "/home/snippets/carousel_resources.html" %} 
  </div>
-->
  <div class="container">
		{% include "/home/snippets/bienvenido.html" %} 
  </div>

  <div class="mlg-container-center mlg-grupos-organizaciones">
		{% include "/home/snippets/ico_gr_org.html" %} 
  </div>
</div>

<div role="main" class="malaga-main-presentacion">
  <div class="container">
    <div class="row row2">
      <div class="span6 col1">
        {% snippet 'home/snippets/most_downloaded_block.html', datasets=h.mlg_most_downloaded(num_max_ds,order), section_title=sec_title %}
      </div>
      <div class="span6 col2">
		  {% snippet 'home/snippets/tags_cloud.html' %}
	  </div>

    </div>
  </div>
</div>

