.hero-secondary {
    position: relative;
}


.malaga-hero-presentacion {
  background: #ffffff;
  background-image: url();
}


.malaga-presentacion{
	padding: 20px 25px 25px 25px;
}

.malaga-h3-presentacion {
	line-height: 1.5;
	color: white;
}

.img-presentacion-banners{
	border-radius: 3px 3px 0px 0px;
}
.logo img {
	float: left;
	padding: 0px 0px 5px 0px;
	margin-right: 5px;
}

.header-image h1 {
	float: left;
	padding-left: 80px;
}

.bloqueHome {
	padding:20px 32px;
	display:block;
}

.bloqueHome h2, .content-inner h2, article h1 {
	margin:0 0 20px 0;
}

.bloqueHome .col1 {
	display:inline-block;
	padding:0 32px 0 0;
	vertical-align:top;
	color:#444444;	
}

.bloqueHome .col2 {
	display:inline-block;
	padding:0 32px;
	vertical-align:top;	
}

.bloqueHome .col1 img, .bloqueHome .col2 img {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-bottom:20px;
}

.bloqueHome .col1 h3, .bloqueHome .col2 h3, article h3 {
	margin-bottom:10px;
}

.bloqueHome .col1 a, .bloqueHome .col2 a, .btnBlue {
	background:#5597AE;
	display:inline-block;
	padding:8px 25px;
	color:#fff;
	text-decoration:none;
	cursor:pointer;
	filter: dropshadow(color=#055a6b, offx=-1, offy=-1);
	-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#079cba', endColorstr='#067288',GradientType=0 ); /* IE6-8 */
}

.btnBlue a {
	color:#fff;
	text-decoration:none;
	background:transparent;
}

.bloqueHome .col1 a:hover, .bloqueHome .col2 a:hover .btnBlue:hover {
	background:#5597AE;
-webkit-box-shadow: inset 0px 0px 1px 2px rgba(0, 0, 0, 0.1);
box-shadow: inset 0px 0px 1px 2px rgba(0, 0, 0, 0.1);	
}

.malaga-tag {
display: inline-block;
margin-bottom: 4px;
margin-right: 4px;
color: #111111;
background-color: #f6f6f6;
padding: 1px 10px;
border: 1px solid #dddddd;
-webkit-border-radius: 100px;
-moz-border-radius: 100px;
border-radius: 100px;
-webkit-box-shadow: inset 0 1px 0 #ffffff;
-moz-box-shadow: inset 0 1px 0 #ffffff;
box-shadow: inset 0 1px 0 #ffffff;
}

a.malaga-tag:hover {
text-decoration: none;
color: #fff;
background-color: #5597AE;
border: 1px solid #235767;
-webkit-box-shadow: inset 0 1px 0 #3d97b3;
-moz-box-shadow: inset 0 1px 0 #3d97b3;
box-shadow: inset 0 1px 0 #3d97b3;
}


.search-malaga .btn-search {
display: inline-block;
vertical-align: text-bottom;
position: relative;
width: 16px;
height: 16px;
background-image: url("../../../base/images/sprite-ckan-icons.png");
background-repeat: no-repeat;
position: absolute;
display: block;
top: 50%;
right: 0;
margin: 0 0 0 0;
background-color: #ffffff;
border: none;
}

.search-malaga {float: right; padding: 20px 0 0 0; position: relative; bottom: -10px;} 

.malaga-header-title h1 {padding-left:72px; float:left; font-size:30px; margin:3px 3px 3px 3px} 

.malaga-header-title sup {font-size: 12px}

.malaga-logo {float:left}

.malaga-cabecera {background: #000000}

.masthead .section {}

.masthead .navigation {font-size: 14px ; float: right; margin-right:-13px; margin-top:10px; width: auto;}

.masthead .site-search input {width: 200px; padding: 4px 8px 2px; margin-left: 0px}

#recaptcha_table {
  table-layout: inherit;
  line-height: 1;
} 

h2 {font-size:24px; margin-top:30px; margin-bottom:10px }

form {
margin: 0 0 12px;
padding-top: 2px;
}

.malaga-media-image-homepage{height:97px}
.ds-resource-resume{font-size:20px; color:white}

.ie7 .media-item {width : 30%}
.ie7 .etiquetas {height:100px}


.malaga-soporte-tecnico {span4; width:400px; margin-left:10px; margin-right:30px; text-align:left}

.malaga-footer-nav a {color:#FFFFFF}

.page-heading {font-size:20px}

.etiquetas {
    background-color: #00557d;
    border-radius: 0 0 3px 3px;
    padding: 5px 10px 10px;
}

.etiquetas:before, .etiquetas:after {
    content: "";
    display: table;
    line-height: 0;
}
.etiquetas:after {
    clear: both;
}

.module-content-malaga {
    margin: 0px;
    padding: 0px 0px;
}

.malaga-header-dataset h1 {float:left; font-size:30px; margin:3px 3px 3px 3px; margin-bottom:20px;} 

.malaga-format-ico-rdf {
  margin-top: 4px;
  margin-bottom:20px;
  top: 2px;
  float: right;
}


.malaga-site-footer {
	background-color: #000000;
	min-height: 55px;
	color: #ffffff;
	padding: 20px 0;
}

.malaga-site-footer a{ color:white;}

.mlg-menu {
padding-top:20px;
}

.mlg-menu mlg-nav {
margin-left: 0;
margin-bottom: 0px;
list-style: none;
}

.mlg-menu .mlg-nav, .mlg-nav-pills a{
color:#ffffff;
border-radius:5px;
padding: 6px 6px 6px 6px;
}

.mlg-menu .mlg-nav li {
display:inline;
padding: 0 10px 0 10px;
margin: 0 0 0 0;
line-height:40px;
}


.mlg-nav li a:hover{
   background-color: #00557d;
   color: #ffffff;
   text-decoration: none;
}

.mlg-menu .mlg-nav, .mlg-nav-pills ul{
 float: right;
 position: relative;
 margin: 0 0 0 0;
}



.nav-tabs:after, .nav-pills:after {
clear: both;
}
.nav-tabs:before, .nav-pills:before, .nav-tabs:after, .nav-pills:after {
display: table;
content: "";
line-height: 0;
}

input, textarea, .uneditable-input {
width: 150px;
}

div.malaga-main-presentacion {
background: url();
}

.mlg-total-resources{
height: 140px;
padding-top:10px;
padding-right:87px;
}

.mlg-total-resources p{
color:#5597AE;
padding-top:35px;
}


.mlg-titles {
text-align:center;
color: #CA5300;
font-size:30px;
height:100px;
float:center;
text-transform: uppercase;
font-weight: bold;
}

.mlg-module-content{
background-image: none;
height: auto;
padding: 0 25px;
margin: 20px 0;
}

.mlg-module-content-app{
background-image: none;
height: 1390px;
padding: 0 25px;
margin: 20px 0;
}



.mlg-lista-aplicaciones{
padding-top:20px;
}

.mlg-site-aplicaciones {
height: 140px;
}

.mlg-text-aplicaciones {
font-size: 14px;
font-weight: normal;
text-align: left;
padding-top:10px;
display: flex;
margin-right:10px;
}

.mlg-aplicaciones-intro {
padding-bottom: 20px;
}

.mlg-item-aplicaciones {
float:left;
padding:10px 0 10px 0;
background-color:#F6F6F6;
width: 100%;
margin-bottom: 20px;
}

.mlg-tiendas-aplicaciones img{
padding-top:10px;
padding-right:10px;
}

.mlg-logo-aplicaciones{
width:15%; 
float:left; 
padding-right:20px;
margin-left:10px;
}

.mlg-item-aplicaciones h3{
margin-top:0px;
margin-bottom:0px;
}

/***************************************************************/
/* malaga-carrusel-tag-stat INI*/

.mlg-carrusel-tag {
font-size:14px;
height:50px;
padding-left:200px;
padding-top:100px;
}

.mlg-carrusel-stat {
font-size:14px;
height:50px;
float:center;
padding-left:10px;
padding-right: 10px;
padding-top:100px;
}


.mlg-carrusel-stat a{
text-transform: capitalize;
padding-left:10px;
padding-right: 10px;
color:#00577D;
}

.mlg-carrusel-tag a{
text-transform: capitalize;
padding-left:10px;
padding-right: 10px;
color:#CA5300;
}

.mlg-carrusel-tag b{
font-size:18px;
}

.mlg-carrusel-stat b{
font-size:18px;
}

.mlg-carrusel-stat a:hover, a:focus{
text-decoration:none;
}

.mlg-carrusel-tag a:hover, a:focus{
text-decoration:none;
}

/* malaga-carrusel-tag FIN*/
/***************************************************************/

.mlg-bienvenido {
padding-bottom: 10px;
}
.mlg-bienvenido h3 {
text-align: center;
text-transform:uppercase;
color: #00557d;
font-size:30px;
}

.mlg-home-grupos-org{
height: 240px;}


.mlg-home-grupos-org h3{
text-align: left;
color: #CA5300;
font-size:20px;
}

.mlg-home-grupos-org button{
color: #00557d;
font-size:16px;
padding-left: 10px;
padding-right: 10px;
border: none;
background: none;
float:right;
}


.mlg-img-iconos{
width: 100%;
margin: auto;
}

.mlg-img-iconos img{
padding-top: 20px;
padding-bottom: 30px;
}

.mlg-img-iconos li {
display: inline;
white-space: nowrap;
padding-left:8px;
}

.mlg-img-iconos ul {
margin: 0 auto;
display: inline;
list-style: none;
padding: 0px 0px 0px 0px;
}

.mlg-img-iconos a{
padding: 0px 0px 10px 0px;
height:55px;
background-size: relative;
text-decoration: none;
/*float:left;*/
}


/**********************************************************************/


.mlg-container-center{
width:700px;
margin-right:auto;
margin-left:auto;
margin-bottom: 10px;
}


.homepage{
background-color:white;
}

.carousel-indicators{
top: 135px;
text-align:center;
padding-right:432px;}

.carousel-indicators li{
background-color:#00577D;
}

.carousel-indicators .active{
background-color:#5596AD;
}

.carousel-control {
color: grey;
background:none;
border-color: none;
border-style: none;
border-width: none;
top: 50%;
opacity: 100;
}

ul#myTab {
display: block;
}

#mlg-main-tab.nav-tabs>li>a {
padding-bottom: 0px;
padding-top: 0px;
}

body {
background-image:url("");
background-color:white;

}
