<div class="row-fluid footer-mid" style="padding-bottom: 20px;">
		<div class="span3">
					<h5>Gobierno Abierto</h5>
					<p>Ayuntamiento de Málaga</p>
					<address><p style="color:gray">Avenida de Cervantes, 4<br>29016 - MÁLAGA.<br><br></p></address>
					<p><span>Tlf: </span><span>951 926 010</span></p>
		</div>
		<div class="span3">
				<ul class="unstyled enlaces-footer">
					<li><a style="color: #1377A5" href="http://lascuentasclaras.malaga.eu" target="_blank" title="Las Cuentas Claras">Las Cuentas Claras</a>
					</li>
				</ul>
		</div>
		<div class="span3">	
			<div class="footer-mid-box box-3" id="footer-mid-3">
				<ul class="unstyled enlaces-footer">
					<li><a style="color: #1377A5" href="http://gobiernoabierto.malaga.eu/es/que-es-el-gobierno-abierto/redes-sociales-ayuntamiento/index.html" target="_blank" title="Redes Sociales Ayuntamiento">Redes Sociales Ayuntamiento</a>
					</li>
				</ul>
				<div class="social clearfix ">
					<strong><p class="title">Síguenos</p></strong>	
					<div class="mlg-social" style="float:left">{%include "snippets/redes.html"%}</div>
				</div>
			</div>
		</div>
		<div class="span3" style="padding-top:10px">	
				{%include "snippets/marcoaytomalaga.html"%}
		</div>
</div>
