<a href="http://gobiernoabierto.malaga.eu/es/que-es-el-gobierno-abierto/redes-sociales-ayuntamiento/index.html#.VQFYJXWG9D8">
<img alt="Más redes" title="Más redes" src="/images/redes/masredes-ico.png">
</a>
<a href="http://www.malaga.eu/portal/menu/varios/rss">
<img alt="RSS" title="RSS" src="/images/redes/rss-ico.png">
</a>
<a href="https://plus.google.com/u/0/105650500718670122096/videos">
<img alt="Google Plus" title="Google Plus" src="/images/redes/gplus-ico.png">
</a>
<a href="https://www.youtube.com/user/AytodeMalaga">
<img alt="Youtube" title="Youtube" src="/images/redes/youtube-ico.png">
</a>
<a href="https://twitter.com/malaga">
<img alt="Twitter" title="Twitter" src="/images/redes/tw-ico.png">
</a>
<a href="https://www.facebook.com/AyuntamientodeMalaga?ref=tn_tnmn">
<img alt="Facebook" title="Facebook" src="/images/redes/fb-ico.png">
</a>

